.footerContainer {
  padding: 15px;
  border-top: 1px solid lightgrey;
  font-family: 'Alegreya Sans', sans-serif;
  display: flex;
  justify-content: space-around;
}

.footerAboutUs {
  font-weight: bold;
  font-style: 20px;
}
