.ListingShowContainer {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  max-width: 1000px;
  margin: auto;

}

.ListingShowContainer h1 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.ListingShowHeadInfo {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.ListingShowHeadInfo ul {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
}

.ListingShowHeadInfo ul li {
  margin-left: 5px;
  margin-right: 5px;
}

.ListingShowVideoContainer {
  display: flex;
  justify-content: center;
}

.ListingShowVideo {
  width: 700px;
  height: 500px;
  background: black;
}

.ListingShowRent {
  font-size: 20px;
  font-weight: bold;
}

.ListingShowListInfoContainer {
  display: flex;
  justify-content: space-around;
}

.ListingShowListInfo {
  font-size: 22px;
  font-weight: bold;
}

.ListingShowContact {
  max-width: 80%;
  margin: auto;
  text-align: left;
  line-height: 25px;
  margin-bottom: 25px;
  padding: 10px;
}
