.navContainer {
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-family: 'Alegreya Sans', sans-serif;
}

.navContainerLogo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.navContainerLogo img {
  height: 100px;
}

.AllListings {
  display: flex;
  justify-content: flex-end;
}

.AllListings a {
  margin-right: 20px;
}
